venv/
.env/
.envrc/
env/
.venv/

__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

*.log
*.tmp
*.bak
*.pid

pip-wheel-metadata/
build/
dist/
*.egg-info/
.eggs/


.coverage
htmlcov/
.pytest_cache/
test-reports/


secrets.py
*.key
*.pem
*.crt
*.env
*.secret

.DS_Store
Thumbs.db